{
    auto_https off
}

:2080 {
    route {
        file_server /assets/* {
            root /src/portal
        }
    }
    reverse_proxy :3000
}

:2443 {
    tls /etc/ssl/captive.crt /etc/ssl/captive.key
    route {
        file_server /assets/* {
            root /src/portal
        }
    }
    reverse_proxy :3000
}
