@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .kiwix-order-dir-btn {
    @apply mr-1 last:mr-0 cursor-pointer p-0 leading-[2em] h-[2em] w-[1.7em] rounded-md border-white text-kwordergrey-100 bg-white hover:bg-kwordergrey-600 hover:text-white drop-shadow-md;
  }
  .kiwix-order-dir-btn-active {
    @apply bg-kwordergrey-500 text-kwwhite drop-shadow-none;
  }
}

@font-face {
   font-family: 'Arial MT';
   src: local('Arial MT'),
        url('/assets/Arial MT Std Regular.otf') format('opentypefont');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Arial MT';
   src: local('Arial MT'),
        url('/assets/Arial-BoldMT.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

body {
    font-family: Arial MT, Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
/*  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;*/
}
