:root {
  --card-bg-color: #fbfbfb;
  --card-border-color: #dddddd;
  --card-title-color: #000000;
  --card-description-color: #4d4d4d;
  --card-meta-color: #909090;
  --background-color: #ffffff;
  --lang-code-color: #333333;
  --lang-code-background: white;
  --card-border-color-rgb: rgba(221, 221, 221, 1);
  --kiwix-orange: #f19e4b;
}

@font-face {
  font-family: 'fira_sansbold';
  src: url('./fira/FiraSans-Bold.eot');
  src: url('./fira/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fira/FiraSans-Bold.woff') format('woff'),
       url('./fira/FiraSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansregular';
  src: url('./fira/FiraSans-Regular.eot');
  src: url('./fira/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fira/FiraSans-Regular.woff') format('woff'),
       url('./fira/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'fira_sansregular', system-ui, sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: unset;
}

header {
  padding: 1em .5em;
  border-bottom: .1rem solid #eee;
  margin-bottom: 2.5em;
}

section.cards {
  max-width: 4000px;
  margin: auto;
}

.card {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 8px 2px var(--card-border-color-rgb);
  color: var(--card-meta-color);
  height: 13.7em;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--card-bg-color);
  border-radius: .1rem;
  transition: transform 0.25s;
}

.card .package-link {
  height: 48px;
}

.package-icon {
  width: 48px;
  height: 48px;
}

.package-icon img {
  width: 100%;
  height: 100%;
}

.card .title {
  margin-left: 1rem;
  color: var(--card-title-color);

  font-size: 26px;
  display: flex;
    align-items: center;
}

.card .title:hover {
  text-shadow: 1px 1px 4px rgba(200, 200, 200, .8);;
}

.card .description {
  height: 5em;
  text-align: justify-all;
  font-weight: 300;
  color: var(--card-description-color);
  line-height: 1.25;
  font-size: .9rem;
  overflow-y: scroll;
}

.metadata {
  margin-top: 1em;
  height: 4em;
  font-size: .9rem;
  line-height: normal;
  vertical-align: middle;
  user-select: none;
  box-sizing: border-box;
}

.tags {
  text-align: end;
  color: #909090;
  overflow: hidden;
}

.tags .tag:not(:last-child):after {
  content: " | ";
}


.lang {
  text-transform: uppercase;
  background-color: var(--lang-code-background);
  color: var(--lang-code-color);
  text-align: center;
  margin-right: .2rem;
  font-size: 70%;
  font-weight: bold;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid var(--card-border-color);
}

.card .download {
  box-sizing: border-box;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.download a {
  font-size: 70%;
  padding: 6px;
  background-color: var(--kiwix-orange);
  color: #fff;
  border-radius: 4px 0 0 0;
}

footer {
  position:relative;
  bottom:0;
  padding: .5em;
  color: white;
  background-color: var(--kiwix-orange);
  margin-top: 3em;
  height: 4.5em;
  text-align: center;
}
