{% extends "base.html" %}

{% block entries %}
    <section
      id="entries"
      class="xl:container 2xl:max-w-screen-xl justify-left auto-cols-min box-border mx-auto my-4 w-100 grid sm:grid-cols-2m md:grid-cols-3m lg:grid-cols-4m xl:grid-cols-5m gap-x-4 gap-y-4"
    >
        {% for package in packages %}
        <div
          class="hotspot-entry box-border cursor-pointer box-border bg-white hover:bg-kwbgwhitehover rounded-lg border-kwbordergrey border-solid border w-[245px] h-[260px] pl-2.5 pt-4 pr-5 pb-5 text-kwtextgrey order-[{{ loop.index0 }}]"
          data-target="{{ package.url }}"
          data-category="{{ package.category }}"
          data-langs="{% if package.langs %}{% for lang in package.languages %}{{ lang }} {% endfor %}{% endif %}"
          data-name="{{ package.title }}"
          data-size="{% if package.download and package.download.size %}{{ package.download.size }}{% else %}0{% endif %}"
        >
          <div
            class="flex flex-row h-[38px] mb-[20px]"
          >
            <div class="flex-none w-[45px] mr-1.5">
              <img
                src="data:image/png;base64,{% if package.icon %}{{ package.icon }}{% endif %}"
                class="flex-none h-[38px] xrounded-xl"
              />
            </div>
            <a
              data-tip="{{ package.title }}"
              href="{{ package.url }}"
              class="tooltip"
            >
              <h2
                class="flex-auto text-[14pt] text-kwtextblack leading-[16pt] text-left"
              >
                {{ package.title|truncate(30, killwords=True, end="…") }}
              </h2>
            </a>
          </div>

          <div
            class="flex flex-row mb-[10px] h-[135px]"
          >
            <div
              class="flex-none w-[45px] mr-1.5"
            >
              {% if package.langs %}
              <div class="flex flex-col w-[1.9em]">
                {% for lang in package.langs %}
                {% if loop.index0 <= 2 and lang != 'mu' %}
                <div class="rounded-md border-kwbordergrey border-solid border w-[1.4em] h-[1.4em] text-center mb-1 last:mb-1"><div class="text-[0.7em] pt-[0.1em] uppercase">{{ lang }}</div></div>
                {% endif %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div class="flex-auto">
              <p class="text-[15px] leading-[18px] text-pretty overscroll-y-none text-kwtextgreyn">{{ package.description|default("-")|truncate(80, killwords=False, end="…") }}</p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="flex-none w-[45px] mr-1.5">{% if package.download and package.download.size %}<span class="text-xs">{{ package.download.size|fsize }}</span>{% endif %}</div>
            <div class="flex-auto">{% if package.tags %}{% for tag in package.tags %}{% if loop.index0 <= 1 %}<span class="rounded-xl px-2 py-0.5 bg-kwtagbggrey text-white text-xs font-medium justify-center me-1 last:me-0">{{ tag }}</span>{% endif %}{% endfor %}{% endif %}</div>
          </div>
        </div>
      {% else %}
      <p>No content packages 🙁</p>
      {% endfor %}
    </section>
{% endblock %}
